doctype html
html
    head
        title Debug Page
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/style/style.css')
        script(type="module", src="/script/utils.js") 
        script(type="module", src="/script/debug.js")
    body
        header
            h1 TriviaQR - Debug
            div #{rooms}
        main