@keyframes scrollBackground {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 100px 0
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit",system-ui;
    color: #fff
}

body,html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    touch-action: none
}

#bundle,body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

body,body::before {
    transform-origin: center center
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right,#ff1678,#ffc713);
    background-size: cover;
    height: 100vh;
    width: 100vw
}

body::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500%;
    height: 500%;
    background: url(../assets/pattern.webp);
    background-size: 100px;
    z-index: -1;
    opacity: .1;
    transform: scale(1.2) rotate(15deg);
    animation: scrollBackground 5s linear infinite
}

#bundle {
    gap: 1rem;
    color: #fff;
    max-width: 90%;
    text-wrap: balance;
    text-align: center
}

#bundle #title {
    font-size: 2rem;
    font-weight: 700
}

#bundle #message {
    font-size: 1.3rem;
    font-weight: 500
}

#bundle #disc {
    opacity: .5;
    font-size: 1rem;
    font-weight: 400
}

#character {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,50%) scale(.4)
}